[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
vimwiki-markdown = {path = "."}
e = "*"
pylint = "*"
markdown = "*"
jedi = "*"
rope = "*"

[packages]

[requires]
python_version = "3.8"
